* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    /* background-color: bisque; */
    background-color: #D3CBC0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


nav {
    height: 10vh;
    width: 100%;
    /* position: fixed; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0px 150px;
    z-index: 1;
    border-bottom: 0.2px solid #717767;
}

.left {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
    width: 20%;

    height: 100%;

    line-height: 15px;

}

.left p span {
    font-weight: 800 !important;

}


.center {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;


}

.center p {
    font-size: 12px;
    color: #000;
    font-weight: 600;
}

.right {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: end;
}

.credit-text {
    display: flex;
    gap: 5px;
    margin-right: 15px;
}

.credit-text h4 {
    /* font-family: magnetlight; */
    font-size: 12px;
    color: #717767;
}

.credit-svg {
    border: 1px solid transparent;
}

.cart-svg,
.profile-svg {
    border: 1px solid #403F3D;
    border-radius: 4px;
    padding: 2px;
    font-size: 28px;
}

main {
    width: 100%;
    position: relative;
    overflow: hidden;
}

.hero {
    height: 100vh;
    width: 100%;
    position: relative;
}

.hero img {
    height: 100%;
    width: 100%;
    object-fit: cover;

}

.overlay {
    height: 100%;
    width: 100%;
    background-color: #00000000;
    position: absolute;
    top: 0;
    padding-top: 120px;
    padding-left: 150px;
}

.overlay h1 {
    width: 50%;
    font-size: 60px;
    /* font-family: magnetlight; */
    margin-bottom: 130px;
}

.box {
/* 
    display: flex;
    gap: 20px;
    width: 100%;
    /* width: calc(59% - 20px); */
    /* height: 287px; */
   /* position: absolute;
    top: calc(54% + 13px);
     left: calc(10% + 10px); 
    display: flex;
    justify-content: space-between; */
    display: flex;
    align-items: center;
    gap: 20px;
    /* padding-left: 10px; */
  

    
}
/* .Change-Images-section{
width: 100%;
height: 100vh;
position:relative;
margin-top: -200px;
}
.img-change-box{
display: flex;
align-items: center;
justify-content: center;
width: 100%;
height: 100%;
gap: 30px;
position: absolute;
z-index: 3;
}
.img-box{
width: 300px;
height: 300px;
background-color: rgba(115, 51, 51, 0.518);
backdrop-filter: blur(20px);
border-radius: 20px;
cursor: pointer;
}
.img-images-section{
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.img{
  position: absolute;
  inset: 0px;
width: 100%;
opacity: 0;
transition: 1s ease ;
left: 0px;
top: 0px;
height:100% ;
object-fit: cover;

}
.img.active{
  opacity: 1;
  transform: scale(1.1);
}
.Change-Images-section:has(.img-box1:hover) .img1{
opacity: 1;
}
.Change-Images-section:has(.img-box2:hover) .img2{
opacity: 1;
}
.Change-Images-section:has(.img-box3:hover) .img3{
opacity: 1;
}

.img-box.active-box {
  transform: scale(1.12);
  background: rgba(255,255,255,0.25);
  box-shadow: 0 10px 30px rgba(0,0,0,0.4);
} */
.card{
    height: 280px;
    width: 280px;
    background-color: rgba(255, 255, 255, 0.222);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    /* transition: all ease 0.3s; */
    position: relative;
}
.text {
    /* height: 4vh; */
     height: 40px;
    width: 100%;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    text-align: center;
    overflow: hidden;
}

.text p {
    font-size: 26px;
    /* font-family: magnetlight; */
  transition: .3s ease;

}

.card:hover {
    background-color: #FFFDF5;
}

.card:hover p {
    /* margin-top: -30%;  */
    margin-top: -50px;
}



.para-container {
     width: 100%;
    height: 100%;
     position: absolute;
     border-radius: 20px;
      background-color: transparent;
      opacity: 0;
    display: flex;
    /* align-items: center;
    justify-content: center; */
    flex-direction: column;
    /* gap: 2px;
    bottom: 40%;
    z-index: 9999;  */

    /* width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    border-radius: 20px;
    opacity: 0;
    transition: all ease 0.5s;
    display: flex;
    align-content: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 20px; */
    

}
.upper-slider1{
  padding: 20px 10px;
 font-size: 14px;
  display: flex;
  flex-direction: column;
gap: 5px;

}


 .para {
    /* width: 100%;
    height: 2vh;
    position: relative; */

    width: 100%;
    /* position: relative; */
    /* height: 3vh; */
     height: 20px;
    /* padding-left: 20px; */
    overflow: hidden;
}

.para-container  .para p {
    /* font-size: 12px;
    position: absolute; 
    width: 100%;
    height: 2vh;
  

    /* font-family: magnetlight; */
  /*  transition: all ease 0.5s;*/
    /* opacity: 1; 
    position: absolute;
    top: 150%;
    font-size: 14px;
    transition: all ease 0.5s;
    font-weight: 200; */
      transition: .5s ease;
   margin-top: 20px;
   color: rgb(36, 36, 36)
    
}

.card:hover {
  .para p{  margin-top: 0px;
  }
  .para-container{
    opacity: 1;
  }
    .line-slider{
    width: 100%;
  }
  .long-slider span{
    margin-left: 0px;
  }
}
.lower-slider{
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.line-slider{
  border: 1px solid rgba(0, 0, 0, 0.6);
  width: 0px;
transition: .5s ease;
}
.long-slider{

  width: 20px;
  overflow: hidden;
}

.long-slider span{
  margin-left: -20px;
  transition: .5s ease;
}


.marquee {
    height: 150vh;
    width: 100%;
    background-color: #DFDAC6;
    position: relative;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.marquee img {
    height: 100%;
    width: 100%;
    scale: 0.55;
}

.marquee-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.marquee-divs {
    /* position: absolute; */
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

.marquee-track-top {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: marquee 15s linear infinite;

}

.marquee-container {
    flex-shrink: 0;
    /* background-color: yellow; */

}

.marquee-container h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 400;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }

}

.marquee-track-bottom {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: marquee-bottom 15s linear infinite;

}

@keyframes marquee-bottom {
    0% {
        transform: translateX(-70%);
    }

    100% {
        transform: translateX(0%);
    }

}
/* .lower-text{
 margin-top: 0px; 
text-align: center;
width:100%

}
.lower-product-section p{
  font-size: 25px;
  font-weight: 300;
}  */
  .lower-text
  {
    height: 20%;
   width: 100%;
    background-color: #DFDAC6; 
   text-align: center;
   padding-bottom: 100px;
  }
  .lower-text p{
  font-size: 26px;
  font-weight: 350;
}
 .btn{
  padding: 8px 20px;
  margin-top: 20px;
  border-radius: 5px;
  color: white;
  background-color: black;
  border-style: none;
} 
  .img-container{
    height: 100vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    position: relative;
} 

 
 .img-container img{
    /* height: 100%;
    width: 100%;
    object-fit: cover;
    position: absolute; */
  position: absolute;
  inset: 0px;
  width: 100%;
  opacity: 0;
  transition: 1s ease ;
  left: 0px;
  top: 0px;
  height:100% ;
  object-fit: cover;
    
    

} 
 .cards {
    height: 280px;
    width: 280px;
    background-color: rgba(252, 252, 252, 0.471);
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(10px);
    transition: all ease 0.5s;
    position: relative;
    z-index: 2; 
   
} 
.cards:hover {
    background-color: #FFFDF5;
}

.cards:hover p {
    margin-top: -30%;
}
.card1:hover {
    width: 380px;
    height: 380px;
}
.card2:hover {
    width: 380px;
    height: 380px;
}
.card3:hover {
    width: 380px;
    height: 380px;
}

 .card1:hover ~ .img1{
    opacity: 1;
    
}  
.card2:hover ~ .img2{
    opacity: 1;
} 
.card3:hover ~ .img3{
    opacity: 1;
}  
.page4{
    height: 100vh;
    width: 100%;
    background-color: #FFFDF5;
}
.para{
    height: calc(100%/3);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 120px;
    padding-left: 50px;
    padding-right: 50px;
}
.para1 p{
    font-size: 50px;
    font-weight: 500;
}
.para2 p{
    font-size: 20px;

}
.para2 button{
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;
   
    position: relative;
    overflow: hidden;

}

.para3 {
     height: calc(100%/3);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding-left: 130px;
    padding-right: 90px;

}
.para3 h6{
    font-size: 30px;
}
.para3 p{
    font-size: 20px;

}
.para4{
     height: calc(100%/3);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 90px;
}
.para4 h6{
    font-size: 30px;
}
.para4 p{
    font-size: 20px;

}
.bottom-products{
     height: 100vh; 
    width: 100%;
     background-color: #FFFDF5;
}
.top-txt{
    /* height: 10vh; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;

}
.top-txt p{
    font-size: 36px;
    padding-left: 120px;
    /* padding-top: 100px; */
}
.top-txt button{
    margin-right: 140px;
    padding: 7px;
    background-color:  #FFFDF5
    ;
    color: black;
    border: black solid 2px;
    border-radius: 5px;
}
.products{
    height: 300px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    gap: 20px;
    margin-left: 150px;
    margin-right: 50px;
    margin-top: 50px;
}
.product1{
    height: 100%;
    width: calc(100%/4);
    position: relative;
    border-radius: 8px;
    overflow: hidden;
    
    /* background-color: yellow; */
}
.img1{
        height: 100%;
    width: 100%;
    position: absolute;
}
.product1 img{
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: all ease 0.5s;
}

.btm-txt{
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
    
    padding-left: 150px;
   
}
.btm-txt p{
    font-size: 16px;
}
.btm-txt span{
    font-size: 18px;
    font-weight: 500;
    margin-top: 0px;
}
.btm-txt-product2{
    padding-left:60px;
}
.btm-txt-product3{
    padding-left:140px;
}
.btm-txt-product4{
    padding-left:150px;
}
.page5
{
    width: 100%;
    height: 75vh;
    background-color: #12271d;
    color: #fffdf5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6vh;
    overflow: hidden;
}
.p5-top{
display: flex;
    height: 33vh;

}
.p5-left{
        padding: 0 calc(10% + 10px);
    width: 75%;
}
.p5-left h5 {
    font-weight: 400;
    margin-bottom: 2vh;
    font-size: 18px;
}
.p5-left h1 {
    font-family: 'Magnetik-A';
    font-size: 58px;
    line-height: 110%;
    font-weight: 400;
}
.p5-right {
    width: 25%;
}
.p5-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateX(10%);
    scale: 150%;
}
.p5-marquee {
    height: 20vh;
    width: 100%;
    border-top: 1px solid #fffdf5;
    border-bottom: 1px solid #fffdf5;
    display: flex;
    align-items: center;
   transform: translateX(calc(-27.8958% - 2.80552px));
    
}

.p5-marquee-text {
    display: flex;
    align-items: center;
    animation: p5-marquee 8s infinite linear;
      
}
.p5-marquee-text h1 {
    font-size: 40px;
    flex-shrink: 0;
    font-family: 'Magnetik-A';
    font-weight: 400;
    padding: 0px 1vh;
}
.p5-marquee-text svg {
    flex-shrink: 0;
    padding: 0px 1vh;
}
