* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    /* background-color: bisque; */
    background-color: #D3CBC0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main {
    width: 100%;
    height: 100%;
    /* background-color: beige; */
    position: relative;
}


nav {
    height: 10vh;
    width: 100%;
    /* position: fixed; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    padding: 0px 150px;
    z-index: 1;
    border-bottom: 0.2px solid #717767;
}

.left {
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;
    width: 20%;

    height: 100%;

    line-height: 15px;

}

.left p span {
    font-weight: 800 !important;

}


.center {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    gap: 20px;


}

.center p {
    font-size: 12px;
    color: #000;
    font-weight: 600;
}

.right {
    height: 100%;
    width: 30%;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: end;
}

.credit-text {
    display: flex;
    gap: 5px;
    margin-right: 15px;
}

.credit-text h4 {
    /* font-family: magnetlight; */
    font-size: 12px;
    color: #717767;
}

.credit-svg {
    border: 1px solid transparent;
}

.cart-svg,
.profile-svg {
    border: 1px solid #403F3D;
    border-radius: 4px;
    padding: 2px;
    font-size: 28px;
}


.front-page {
    width: 100%;
    height: 100%;
    background-color: beige;
}

.background-image-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: absolute;
}

.background-image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero {
    height: 100%;
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: flex-start;
}

.content {
    position: absolute;
    top: 17%;
    left: calc(10% + 10px);
    width: 45%;
}

.content p {
    font-size: 78px;
    font-weight: 300;
    line-height: 114%;
}

.boxes {
    width: calc(59% - 20px);
    height: 287px;
    position: absolute;
    top: calc(54% + 13px);
    left: calc(10% + 10px);
    display: flex;
    justify-content: space-between;
}

.box {
    background-color: rgba(255, 255, 255, 0.25);
    width: calc(32% + 2px);
    height: 100%;
    backdrop-filter: blur(1.6rem);
    border-radius: 15px;
    position: relative;
}

.no-hover {
    width: 100%;
    height: 100%;
    top: calc(40% + 10px);
    position: relative;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.no-hover h1 {
    width: fit-content;
    height: fit-content;
    position: absolute;
    top: 0%;
    font-weight: 400;
    transition: all ease 0.5s;
    font-size: 28.5px;
}

.box:hover .no-hover h1 {
    top: -10%;
}

.overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    border-radius: 20px;
    transition: all ease 0.5s;
    display: flex;
    align-content: center;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 20px;
}

.para {
    width: 100%;
    position: relative;
    height: 3vh;
    padding-left: 20px;
    overflow: hidden;
}

.para h4 {
    position: absolute;
    top: 150%;
    font-size: 14px;
    transition: all ease 0.7s;
    font-weight: 200;
}

.box:hover .overlay {
    background-color: #fffdf5;
}

.box:hover .overlay .para h4 {
    top: 0;
}

.horizontal-line {
    width: 80%;
    height: 10px;
    position: absolute;
    top: 80%;
    padding-left: 10%;
}

.horizontal-line::after {
    content: "";
    height: 1px;
    width: 0%;
    position: absolute;
    background-color: black;
    transition: all ease 0.7s;
}

.box:hover .horizontal-line::after {
    width: 100%;
}

.tell-me-part {
    width: 100%;
    height: 12%;
    bottom: 4%;
    position: absolute;
    padding-left: calc(10%);
    padding-right: 10%;
}

.effect-part h5 {
    font-weight: 300;
}

.tell-me-container {
    height: 100%;
    position: relative;
    width: 100%;
    overflow: hidden;
}

.effect-part {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 70%;
    transition: all ease 0.7s;
}

.effect-part-arrow {
    width: fit-content;
    height: fit-content;
    position: relative;
    overflow: hidden;
}

.box:hover .effect-part {
    top: 0;
}




.marquee {
    height: 150vh;
    width: 100%;
    background-color: #DFDAC6;
    position: relative;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
}

.marquee img {
    height: 100%;
    width: 100%;
    scale: 0.55;
}

.marquee-overlay {
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    flex-direction: column;
}

.marquee-divs {
    /* position: absolute; */
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    gap: 20px;
    overflow: hidden;
}

.marquee-track-top {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: marquee 15s linear infinite;

}

.marquee-container {
    flex-shrink: 0;
    /* background-color: yellow; */

}

.marquee-container h1 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 40px;
    font-weight: 400;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-100%);
    }

}

.marquee-track-bottom {
    display: flex;
    gap: 20px;
    width: max-content;
    animation: marquee-bottom 15s linear infinite;

}

@keyframes marquee-bottom {
    0% {
        transform: translateX(-70%);
    }

    100% {
        transform: translateX(0%);
    }

}

.lower-text {
    height: 20%;
    width: 100%;
    background-color: #DFDAC6;
    text-align: center;
    padding-bottom: 100px;
}

.lower-text p {
    font-size: 26px;
    font-weight: 350;
}

.btn {
    padding: 8px 20px;
    margin-top: 20px;
    border-radius: 5px;
    color: white;
    background-color: black;
    border-style: none;
}

.image-cards-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    position: relative;
    overflow: hidden;
    background-color: #dfdac6;
}

.imgbx {
    height: 287px;
    width: 287px;
    transition: all ease 0.5s;
    z-index: 100;
}

.imgbx1:hover {
    transform: scale(130%);
    margin-left: 3%;
    margin-right: 3%;
}

.imgbx2:hover {
    transform: scale(130%);
    margin-left: 3%;
    margin-right: 3%;
}

.imgbx3:hover {
    transform: scale(130%);
    margin-left: 3%;
    margin-right: 3%;
}

.image-cards-container img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    object-fit: cover;
    transition: 1s cubic-bezier(0, 0.8, 0.72, 1.03);
    transform: scale(110%);
    opacity: 0;
}

.imgbx1:hover~.img1 {
    transform: scale(100%);
    z-index: 1;
    opacity: 1;
}

.imgbx2:hover~.img2 {
    transform: scale(100%);
    opacity: 1;
    z-index: 1;
}

.imgbx3:hover~.img3 {
    transform: scale(100%);
    opacity: 1;
    z-index: 1;
}

.imgbx .no-hover {
    color: white;
}

.page4 {
    height: 100vh;
    width: 100%;
    background-color: #FFFDF5;
}

.para {
    height: calc(100%/3);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 120px;
    padding-left: 50px;
    padding-right: 50px;
}

.para1 p {
    font-size: 50px;
    font-weight: 500;
}

.para2 p {
    font-size: 20px;

}

.para2 button {
    margin-top: 20px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 5px;
    border: none;

    position: relative;
    overflow: hidden;

}

.para3 {
    height: calc(100%/3);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;

    padding-left: 130px;
    padding-right: 90px;

}

.para3 h6 {
    font-size: 30px;
}

.para3 p {
    font-size: 20px;

}

.para4 {
    height: calc(100%/3);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 130px;
    padding-right: 90px;
}

.para4 h6 {
    font-size: 30px;
}

.para4 p {
    font-size: 20px;

}

.bottom-products {
    height: 100vh;
    width: 100%;
    background-color: #FFFDF5;
}

.top-txt {
    /* height: 10vh; */
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 100px;

}

.top-txt p {
    font-size: 36px;
    padding-left: 120px;
    /* padding-top: 100px; */
}

.top-txt button {
    margin-right: 140px;
    padding: 7px;
    background-color: #FFFDF5;
    color: black;
    border: black solid 2px;
    border-radius: 5px;
}

.products {
    height: 300px;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: red; */
    gap: 20px;
    margin-left: 150px;
    margin-right: 50px;
    margin-top: 50px;
}

.product1 {
    height: 100%;
    width: calc(100%/4);
    position: relative;
    border-radius: 8px;
    overflow: hidden;

    /* background-color: yellow; */
}

.img1 {
    height: 100%;
    width: 100%;
    position: absolute;
}

.product1 img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    transition: all ease 0.5s;
}

.btm-txt {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    gap: 10px;

    padding-left: 150px;

}

.btm-txt p {
    font-size: 16px;
}

.btm-txt span {
    font-size: 18px;
    font-weight: 500;
    margin-top: 0px;
}

.btm-txt-product2 {
    padding-left: 60px;
}

.btm-txt-product3 {
    padding-left: 140px;
}

.btm-txt-product4 {
    padding-left: 150px;
}

.page5 {
    width: 100%;
    height: 75vh;
    background-color: #12271d;
    color: #fffdf5;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 6vh;
    overflow: hidden;
}

.p5-top {
    display: flex;
    height: 33vh;

}

.p5-left {
    padding: 0 calc(10% + 10px);
    width: 75%;
}

.p5-left h5 {
    font-weight: 400;
    margin-bottom: 2vh;
    font-size: 18px;
}

.p5-left h1 {
    font-family: 'Magnetik-A';
    font-size: 58px;
    line-height: 110%;
    font-weight: 400;
}

.p5-right {
    width: 25%;
}

.p5-right img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateX(10%);
    scale: 150%;
}

.p5-marquee {
    height: 20vh;
    width: 100%;
    border-top: 1px solid #fffdf5;
    border-bottom: 1px solid #fffdf5;
    display: flex;
    align-items: center;
    /* transform: translateX(calc(-27.8958% - 2.80552px)); */

}

.p5-marquee-text {
    display: flex;
    align-items: center;
    animation: p5-marquee 8s infinite linear;

}

.p5-marquee-text h1 {
    font-size: 40px;
    flex-shrink: 0;
    font-family: 'Magnetik-A';
    font-weight: 400;
    padding: 0px 1vh;
}

.p5-marquee-text svg {
    flex-shrink: 0;
    padding: 0px 1vh;
}

.page-6 {
    width: 100%;
    height: 110vh;
    background-color: #fffdf5;
    display: flex;
    padding: 10vh calc(10% + 10px) 10vh calc(10% + 10px);
    gap: 10vh;
}

.p6-left {
    width: 47%;
}

.p6-left-upper {
    width: 100%;
    height: 16%;
    display: flex;
    flex-direction: column;
}

.p6-left-upper h1 {
    font-size: 2.4rem;
    font-weight: 400;
    font-family: 'Magnetik-A';
}

.p6-left-lower {
    height: 84%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.p6-lower-text {
    height: 14.2%;
    border-bottom: 1px solid rgb(178, 178, 178);
    display: flex;
    gap: 3vh;
    align-items: center;
}

.square-box {
    height: 1.4vh;
    width: 1.4vh;
    background-color: black;
    border-radius: 3px;
}

.p6-lower-text h2 {
    font-size: 27px;
    font-weight: 400;
    font-family: 'Magnetik-A';
}

.p6-left-upper p {
    font-size: 15px;
    font-weight: 500;
}

.faq-section {
    height: 60vh;
    width: 100%;
    background-color: #f7f4e9;
    padding: 10vh calc(10% + 10px);
    display: flex;
    gap: 10vh;
}

.left-faq {
    height: 100%;
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 2vh;
}

.left-faq h1 {
    font-size: 1.8rem;
    font-weight: 400;
    font-family: 'Magnetik-A';
}

.p4-h3 {
    position: relative;
    height: 4vh;
    width: 10vh;
    border-radius: 5px;
    overflow: hidden;
}

.p4-h3 h3 {
    font-weight: 400;
    font-size: 13px;
}

.no-hover-h3 {
    background-color: black;
    color: #fffdf5;
    width: fit-content;
    height: 4vh;
    width: 10vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    transition: all ease 0.5s;
}

.overlay-h3 {
    background-color: rgb(63, 63, 63);
    color: #fffdf5;
    width: fit-content;
    height: 4vh;
    width: 10vh;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -100%;
    transition: all ease 0.3s;
}

.right-faq {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.right-faq-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid gray;
    padding-right: 0.5vh;
}

.right-faq-box h2 {
    font-size: 1.3rem;
    padding-top: 1.5vh;
    font-weight: 400;
    transition: all ease 0.3s;
}

.right-faq-box h1 {
    font-size: 3.5vh;
    transition: all ease 0.3s;
    /* font-style: 'Magnetik'; */
}

footer {
    height: 100vh;
    width: 100%;
    padding: 5vh calc(10% + 10px);
    background-color: #dfdac6;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.upper-f {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.upper-f h1 {
    font-size: 3rem;
    font-weight: 400;
    font-family: 'Magnetik-A';
}

.up-arrow-box {
    height: 9.7vh;
    width: 9.7vh;
    border: 1px solid black;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    transition: all ease 0.3s;
}

.disapp {
    position: relative;
    height: 5vh;
    width: 5vh;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.disapp svg {
    position: absolute;
    top: 0;
    left: 0;
    height: 5vh;
    width: 5vh;
    rotate: -90deg;
    transition: all ease 0.3s;
}

.up-arrow-box:hover .disapp svg {
    top: -100%;
}

.up-arrow-box:hover .overlay-ua {
    bottom: 0;
}

.lf-img-box:hover .lf-filter {
    opacity: 1;
}

.lf-img-box:hover .lf-bg-img {
    opacity: 1;
    scale: 100%;
}

.lf-img-box:hover {
    border-radius: 30%;
    border: none;
}

.no-hover-lf {
    top: 0;
    transition: all ease 0.2s;
}

.overlay-ua {
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #12271d;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: -100%;
    left: 0;
    transition: all ease 0.3s;
}

.overlay-ua svg {
    rotate: -90deg;
    height: 5vh;
    width: 5vh;
}

.lower-f {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 3vh;
}

.upper-lf {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3vh;
}

.upper-lf {
    height: 40vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 3vh;
}

.lf-box svg {
    height: 100%;
    width: 100%;
}

.lf-img-box {
    border: 1px solid #12271d;
    border-radius: 5%;
    transition: border-radius ease 0.5s;
    overflow: hidden;
}

.lf-box {
    height: 100%;
    width: 40vh;
    position: relative;
    display: flex;
    align-items: center;
}

.lf-bg-img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: all ease 1s;
    scale: 115%;
}

.lf-bg-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.lf-text {
    width: 100%;
    height: 6vh;
    overflow: hidden;
    position: relative;
}

.lf-text h1 {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    font-size: 1.8rem;
    font-family: 'Magnetik-A';
    position: absolute;
    z-index: 5;
}

.hover-lf {
    bottom: -100%;
    color: white;
    transition: all ease 0.3s;
}

.lf-img-box:hover .no-hover-lf {
    scale: 95%;
    top: -100%;
    opacity: 0;
}

.lf-img-box:hover .hover-lf {
    bottom: 0;
}

.lf-filter {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.283);
    opacity: 0;
}

.lower-lf {
    height: 8vh;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3vh;
    border: 1px solid #12271d;
}

.left-lf {
    display: flex;
    align-items: center;
    gap: 1vh;
}

.left-lf h3 {
    font-weight: 500;
    font-style: 'Magnetik-A';
    font-size: 1.1rem;
}

.f-socials {
    height: 5vh;
    display: flex;
    align-items: center;
    gap: 3vh;
    margin-left: 2.5vh;
}

.f-social {
    transition: all ease 0.2s;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3vh;
    width: 3vh;
}

.f-social:hover {
    scale: 108%;
}

.right-lf {
    display: flex;
    gap: 3vh;
}

.right-lf-text {
    position: relative;
    overflow: hidden;
    height: 3vh;
    width: fit-content;
}

.right-lf-text h3 {
    font-size: 0.9rem;
    font-weight: 400;
    transition: all ease 0.3s;
}

.checking-purpose-rlf {
    opacity: 0;
}

.no-hover-rlf {
    top: 0;
}

.no-hover-rlf,
.hover-rlf {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
}

.hover-rlf {
    scale: 90%;
    bottom: -100%;
}

.no-hover-rlf .hover-rlf {
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
}

.right-lf-text:hover .no-hover-rlf {
    scale: 90%;
    top: -100%;
}

.right-lf-text:hover .hover-rlf {
    scale: 100%;
    bottom: 0%;
}